  *{
   
    box-sizing: border-box;
}
body 
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
    text-align: center;
    color:#fff;
    line-height: 1.5;
    letter-spacing: 1px;
	background-image:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url('abt2.jpg');
	background-size:cover;
	
	
	
}

.header {
	background: linear-gradient(#3d251e, #80471C);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom-left-radius: 60px;
	padding: 15px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	z-index: 100000;
}

.header.sticky {
	padding: 5px 100px;
	background: #000;
}

.header.sticky .logo,
.header.sticky ul li a {
	color: white;
}

.header .navbar {
	display: flex;
	align-items: center;
}

.header .navbar .logo {
	font-size: 36px;
	font-weight: bold;
	color: white;
	margin-right: 20px;
}

.header .navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
}

.header .navbar ul li {
	margin-left: 15px;
	font-size: 20px;
}

.header .navbar ul li a {
	display: block;
	color: white;
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;
	padding: 10px;
	transition: 0.6s;
	text-align: center;
}
.header .navbar ul li a:hover {
	
	background-color:#C5C6D0;
}
.wrapper{

    min-height: 100vh;
    width:100%;
	
   
}
.main{
    padding: 30px 100px;
}
article h1{
    
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;

}
article h1:after{
    
    content:"";
    height: 4px;
    width:250px;
    background-color: #fff;
    display:block;
    margin: auto;
}
blockquote{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 27px;
     margin-top: 30px;
}

.container2
{
	position:relative;
	width:1100px;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	padding:30px;
	margin-top:8%;
}
.container2 .card {
	width: 310px;
	position: relative;
	height: 480px;
	background: #f0f0f0;
	color:black;
	font-weight: 600;
	font-size: 17px;
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0.5px 10px 0 #e6e6e6;
	transition: 0.3s ease-in-out;
	margin-top: 5%;
}

#det #l{
	margin-top:10px;
	text-align:left;
	list-style:circle;
	
}
.container2 .card .imgbx
{
	position:relative;
	width:260px;
	height:260px;
	top:-60px;
	left:20px;
	
}
.container2 .card .imgbx img
{
	max-width:100%;
	border-radius:10px;
	height:150px;
	width:300px;
}
.imgbx:hover img
{
	transform:scale(1.1);
}



form {
  width:100%;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 1px solid white;
  
}

.fa-solid.fa-envelope {
  font-size: 18px;
  margin-left: 30px;
  margin-top:6px;
}

form input {
  width: 50%;
  background: transparent;
  margin-right: 30px;
  color: #ccc;
  border: 0;
  outline: none;
  margin-right:-20px;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  margin-top:6px;
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #00093c;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color:#B2D3C2;
}

form button.fas {
  font-size: 16px;
  color: #ccc;
}

.fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  
}

.fab:hover {
  background-color: #B2D3C2;
}

.col .fab {
  display: inline-block;
}

hr
{
	width:90%;
	border:0;
	border-bottom:1px solid #ccc;
	margin:20px auto;
}	

.copyright
{
	text-align:center;
	
}
.underline
{
	width:100%;
	height:5px;
	background:#767676;
	border-radius:3px;
	position:absolute;
	top:25px;
	left:0;
	overflow:hidden;
}
.underline span
{
	width:15px;
	height:100%;
	background:#fff;
	border-radius:3px;
	position:absolute;
	top:0;
	left:10px;
	animation:moving 2s linear infinite;
}

@keyframes moving
{
	0%
	{
	left: -20px;
	}
	100%
	{
	left: 100%;
	}
}
@media (max-width:700px)
{
	footer
	{
		bottom:unset;
	}
	.col {
	display:flex;
	}

	
}
*{
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
}

footer {
	
	width: 100%;
	position:bottom;
	background: linear-gradient(#3d251e, #80471C);
	color: #fff;
	padding: 10px 0 10px 0;
	border-top-left-radius: 125px;
	line-height: 20px;
}

.row {
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.col {
	flex-basis: 25%;
	padding: 10px;
}

.logo {
	display: flex;
	margin-bottom: 30px;

}

.col h3 {
	width:fit-content;
	margin-bottom: 40px;
	position: relative;
	
}

.col p {
    text-align: justify;
  }
  
.email {
	width: fit-content;
	border-bottom: 1px solid #ccc;
	margin: 20px 0;
}

ul li {
	list-style: none;
	margin-bottom:12px;
	text-align: justify;
	
}

ul li a {
	text-decoration: none;
	color: white;
	
	
}
