<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
    <servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.User.Loginsevlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Forgetpassw</servlet-name>
		<servlet-class>com.User.ForgetpasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Forgetpassw</servlet-name>
		<url-pattern>/Fogetpw</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserInsert</servlet-name>
		<servlet-class>com.User.UserInsert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInsert</servlet-name>
		<url-pattern>/insert</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateUser</servlet-name>
		<servlet-class>com.User.UpdateUserServelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>DeleteUserAccServeler</servlet-name>
		<servlet-class>com.User.DeleteUserAccServeler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUserAccServeler</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>appointment</servlet-name>
		<servlet-class>com.User.MakeAppointmentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>appointment</servlet-name>
		<url-pattern>/app</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Updateappointment</servlet-name>
		<servlet-class>com.User.UpdateAppointmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Updateappointment</servlet-name>
		<url-pattern>/updateapp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Deleteappointment</servlet-name>
		<servlet-class>com.User.DeleteAppointmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Deleteappointment</servlet-name>
		<url-pattern>/deleteapp</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>InsertStaff</servlet-name>
		<servlet-class>com.User.InsertStaffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertStaff</servlet-name>
		<url-pattern>/insertStaff</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>UpdateStaff</servlet-name>
		<servlet-class>com.User.UpdateStaffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateStaff</servlet-name>
		<url-pattern>/STupdate</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>DeleteStaff</servlet-name>
		<servlet-class>com.User.DeleteStaffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteStaff</servlet-name>
		<url-pattern>/STDelete</url-pattern>
	</servlet-mapping>
	
	
	
	
	 <servlet>
     <servlet-name>medicalinsert</servlet-name>
     <servlet-class>com.User.MedicalInsertServlet</servlet-class>
     </servlet>    
         
     <servlet-mapping>
      <servlet-name>medicalinsert</servlet-name>
     <url-pattern>/insertt</url-pattern>
     </servlet-mapping> 
         
	<servlet>
		<servlet-name>updaterecords</servlet-name>
		<servlet-class>com.User.UpdateRecordsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updaterecords</servlet-name>
		<url-pattern>/updatet</url-pattern>
	</servlet-mapping> 
         
     <servlet>
		<servlet-name>deleterecords</servlet-name>
		<servlet-class>com.User.DeleteRecordsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleterecords</servlet-name>
		<url-pattern>/deletet</url-pattern>
	</servlet-mapping> 
	
</web-app>